
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk


.vscode/
.history/
*.code-workspace


*.o
*.obj
*.exe
*.out
*.dll
*.a


__pycache__/
*.pyc
*.pyo
*.pyd


*.log
*.tmp
*.bak
*.swp


.git/
.gitignore


*.sublime-workspace
*.sublime-project

